.sender-column{
    text-align: right;
}

p7{
    margin-left: 40px;
    
}

p8{
    margin-left: 40px;
    
}

p10{
    margin-left: 40px;
    
}

p11{
    margin-left: 40px;
    
}

p12{
    margin-left: 40px;
    
}

p13{
    margin-left: 40px;
    
}

p15{
    margin-left: 40px;
    
}

p16{
    margin-left: 40px;
    
}

p17{
    margin-left: 40px;
}




