
.logo{
    border: 1px transparent;
    padding-left: 50px;
    font-size: 50px;
    text-align: center;

}
.Home{
    border: solid 3px;
    border-color: black;
    text-align: center;
    padding: 5px;
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    background-color: black;
    font: white;
}
.Blog{
    border: solid 3px;
    border-color: black;
    text-align: center;
    padding: 5px;
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    background-color: black;
    font: white;
}
.About{
    border: solid 3px;
    border-color: black;
    text-align: center;
    padding: 5px;
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    background-color: black;
    font: white;
}

.History{
    border: solid 3px;
    border-color: black;
    text-align: center;
    padding: 5px;
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    background-color: black;
    font: white;
}
.Contacts{
    border: solid 3px;
    border-color: black;
    text-align: center;
    padding: 5px;
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    background-color: black;
    font: white;
}

  img {
      max-width: 100%;
      display: block;
      
  }
  
  .grid {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 980px;
  }
  
  
  .photos {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .feature {
      width: 200px;
  }
  a{
    font: white;
  }